:root {
    --primary-color: #fa521f6e;
    --accent-color: #f08080;
    --logo-font: 'Luckiest Guy', cursive;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

footer {
    justify-content: center;
    

}

header, footer {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    height: 65px;
    width: 100%;
}

header {
    padding-left: 25px;
    font-family: var(--logo-font);
    text-shadow: 1px 1px 5px var(--accent-color);
}

.recipe {
    margin: 15px;
    height: 100px;
    width: 175px;
    text-transform: capitalize;
}

.recipe:hover {
    background-color: lightgray;
}

form {
    display: inline-block;
    padding-left: 20px;
}

input {
    height: 30px;
}

input:first-of-type {
    width: 400px;
}
